body {
  background: url("https://pixabay.com/get/57e1d3464e51b108feda8460cf2e3479133ddff85257714a7d2f7ad79749_1920.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
main {
  margin: auto;
  font-family: "Lato", sans-serif;
  background-color: aliceblue;
  opacity: 0.7;
  padding: 1em 3em 1em 3em;
  border-radius: 5px;
  text-align: justify;
  width: 60%;
/*   position: relative; */
}

/* User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size. */
#img-div {
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

#title {
  text-align: center;
}

/* User Story #9: The img element should be centered within its parent element. */
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

h2 {
  text-align: center;
}

#cita {
  text-align: left;
}

.color-letra {
  color: rgb(43, 43, 46);
}

#fondito {
    position: fixed;
}